* {
    --brand-color: #4830ff;
    --bs-light: #f0f0f0;
    --bs-dark: #0b0726;
    --std-spacing: 2rem;
    --bs-gutter-x: var(--std-spacing);
    --bs-nav-link-hover-color: var(--brand-color);
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section:first-of-type {
    scroll-margin-top: calc(3 * var(--std-spacing));
}

@media (min-width: 768px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

section + section {
    padding-top: calc(4 * var(--std-spacing));
}

.row + .row {
    margin-top: calc(3 * var(--std-spacing));
}

@media (min-width: 768px) {
    .row + .row {
        margin-top: calc(4 * var(--std-spacing));
    }
}

.bg-light { background-color: var(--bs-light) !important; }
.bg-dark {  background-color: var(--bs-dark) !important; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 1rem;
    color: var(--bs-dark);
}
.h1, .h2, h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6, a, p, ul {
    font-family: 'Inter', sans-serif;
}

.text-brand {
    color: var(--brand-color);
}

.btn-brand {
    max-width: 300px;
    background-color: var(--brand-color);
    border: 2px solid var(--brand-color);
    color: var(--bs-light);
}

.btn-brand:hover {
    background-color: transparent;
    border: 2px solid var(--brand-color);
}

.placeholder {
    background-color: lightgray;
    border-radius: 8px;
    cursor: inherit;
}

.placeholder.landscape {
    aspect-ratio: 16/9;
}

.placeholder.portrait {
    aspect-ratio: 4/5;
}

img:not(.logo), video {
    border-radius: 10px;
}

/* Nav */
@media (max-width: 576px) {
    .navbar {
        box-shadow: 0 1px 10px 0 #00000033;
    }
}

.navbar .container .row {
    justify-content: space-between;
}

.navbar .container .row .links-col {
    text-align: end;
    padding-inline-end: 0;
}

.navbar .container .row .links-col li:last-of-type{
    padding-inline-end: 0;
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--bs-dark);
    /* fix py */
}

.navbar-toggler:not(:focus) {
    border: none;
}

.nav-link {
    color: var(--bs-dark);
}


/* Project Intros */
.card .card-header,
.card .card-footer {
    border: none;
}

.card {
    border: 1px solid lightgray;
    margin-bottom: 1.5rem;
}

.card > *  {
    background-color: transparent;
}

.card .card-header {
    padding: 0;
}

.card .card-footer {
    padding: 1.5rem 1rem;
}


/* Project Details */
#projectDetails .img-col, 
#projectDetails .video-col {
    margin-top: 1.5rem;
}

#projectDetails .video-col {
    text-align: center;
}

@media (min-width: 992px) {
    #projectDetails .img-col, 
    #projectDetails .video-col {
        margin-top: 0;
    }
}

#projectDetails .logo {
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 1.5rem;
}

#projectDetails .carousel-item.carousel-item-start,
#projectDetails .carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projectDetails .carousel-control-prev, 
#projectDetails .carousel-control-next {
    filter: invert(1);
}

#aifkkCarousel .carousel-item {
    padding: 0 4rem;
    height: 45vw;
}

@media (min-width: 992px) {
    #aifkkCarousel .carousel-item {
        height: 28vw;
    }
}

#dwelaCarousel .carousel-item {
    align-items: center;
    padding: 0 3rem;
}

#dwelaCarousel .carousel-control-prev, 
#dwelaCarousel .carousel-control-next {
    width: 10%;
}
#dwelaCarousel .carousel-control-prev {
    justify-content: start;
}
#dwelaCarousel .carousel-control-next {
    justify-content: end;
}

/* Footer */
footer a {
    text-decoration: none;
}

footer .animated-arrow {
    transition: all ease-in 0.5s;
    font-size: 1.5rem;
}

footer .animated-arrow:hover {
    transform: scale(1.5);
}