/* Global */
:root {
    --std-spacing: 3.2rem;
    
    /* Barebones overrides */
    --theme-hue: #f0f0f0;
    --accent-hue: 247;
    --background-color: var(--theme-hue);
    --accent-color: hsl(var(--accent-hue), 100%, 59%);				
    --text-color-normal: #0b0726;
    --button-primary-color: var(--theme-hue);
    --swiper-navigation-size: 20px;
}

section {
    padding-top: calc(0.5 * var(--std-spacing));
    padding-bottom: calc(0.5 * var(--std-spacing));
}

section:first-of-type {
    scroll-margin-top: calc(3 * var(--std-spacing));
}

section + section {
    padding-top: calc(1.5 * var(--std-spacing));
}

@media (min-width: 900px) {
    section {
        padding-top: var(--std-spacing);
        padding-bottom: var(--std-spacing);
    }
    section + section {
        padding-top: calc(3 * var(--std-spacing));
    }
}


@media (max-width: 900px) {
    .row {
        gap: 0.8rem;
    }
}

.project + .project {
    margin-top: calc(2 * var(--std-spacing));
}

@media (min-width: 900px) {
    .project + .project {
        margin-top: calc(4 * var(--std-spacing));
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: calc(0.5 * var(--std-spacing));
    color: var(--text-color-normal);
}
.h1, .h2, h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6, a, p, ul {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style-type: disc;
    margin-bottom: 0;
}

.text-brand {
    color: var(--accent-color);
}

button.button-primary {
    border: 2px solid var(--accent-color);
    max-width: 300px;
    font-size: 2rem;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1;
}

button.button-primary:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.placeholder {
    background-color: lightgray;
    border-radius: 8px;
    cursor: inherit;
}

.placeholder.landscape {
    aspect-ratio: 16/9;
}

.placeholder.portrait {
    aspect-ratio: 4/5;
}

img:not(.logo), video {
    border-radius: 10px;
}


/* Nav */
@media (max-width: 600px) {
    .navbar {
        box-shadow: 0 1px 10px 0 #00000033;
        position: sticky;
        top: 0;
        z-index: 100;
    }
}


.navbar .container,
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--theme-hue);
}

.container .navbar-list {
    display: flex;
    margin-left: auto;  
    margin-bottom: 0;
    padding-inline-end: 0;
    list-style: none;
}

.container .navbar-list li {
    padding: 0 8px;
    margin-bottom: 0;
}

.container .navbar-list li:last-of-type{
    padding-inline-end: 0;
}

.navbar-link, .navbar-brand {
    text-decoration: none;
    color: var(--text-color-normal)
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}



/* About */
.lead {
    font-size: 2rem;
}

.text-wrapper {
    margin-bottom: 2.4rem;
    @media (min-width: 900px) {
        margin-bottom: 4.8rem;
    }
}

.centered {
    text-align: center;
    @media (min-width: 900px) {
        text-align: left;
    }
}


/* Project Intros */
.card .card-header,
.card .card-footer {
    border: none;
}

.card {
    border: 1px solid lightgray;
    margin-bottom: calc(0.75 * var(--std-spacing));
}

.card > *  {
    background-color: transparent;
}

.card .card-header {
    padding: 0;
}

.card .card-footer {
    padding: calc(0.75 * var(--std-spacing)) calc(0.5 * var(--std-spacing));
}


/* Project Details */
@media (max-width: 900px) {
    #projectDetails .project.right .details .img-col {
        order: 2;
    }
}

#projectDetails .video-col {
    text-align: center;
}

@media (min-width: 900px) {
    #projectDetails .img-col, 
    #projectDetails .video-col {
        margin-top: 0;
    }
}

#projectDetails .logo {
    max-width: 300px;
    max-height: 200px;
}

@media (min-width: 900px) {
    #projectDetails .logo {
        margin-bottom: 2.4rem;
    }
}

/* Project Details Carousel */
@media (min-width: 900px) {
    #projectDetails .swiper {
        margin-top: -30px;
    }
}

#projectDetails .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#projectDetails .swiper-controls {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    min-height: 30px;
}

#projectDetails .project.right .swiper-controls {
    justify-content: flex-start;
}

#projectDetails .swiper-button-prev,
#projectDetails .swiper-button-next {
    position: relative;
    margin-top: 0;
}


/* Footer */
footer {
    padding-top: var(--std-spacing);
    padding-bottom: var(--std-spacing);
    margin-top: var(--std-spacing);
    border: 1px solid #00000033;
}

@media (min-width: 900px) {
    footer {
        padding-top: calc(1.5 * var(--std-spacing));
        padding-bottom: calc(1.5 * var(--std-spacing));
        margin-top: calc(1.5 * var(--std-spacing));
    }
}

footer .container .navbar-list {
    margin-left: 0;
    margin-right: auto;
}

footer a.animated-arrow {
    text-decoration: none;
    transition: all ease-in 0.5s;
    font-size: calc(0.75 * var(--std-spacing));
    color: var(--accent-color);
}

footer a.animated-arrow:hover {
    transform: scale(1.5);
}
